@page "/contact"
@inject IJSRuntime JSRuntime
@inherits BaseComponent

<PageTitle>Contact</PageTitle>

<style>
    @((MarkupString)Styles)
</style>

<div class="container-fluid">
    <div class="row mt-0">
        <div class="col col-12 mt-0">
            <div style="position: relative; height: 3rem; display: flex; justify-content: left; align-items: center;">
                @if(renderAnimation)
                {
                    <div class="glitch" data-text="Contact">Contact</div>
                    <div class="glow">Contact</div>
                }
                else
                {
                    <h1>Contact</h1>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <p>Choose how you would like to contact me</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-2">
            <div class="nav-item">
                <a class="nav-item px-3 @(currentOption == Option.None ? "active" : "")" @onclick="() => SetOption(Option.None)">
                    <span class="bi bi-cloud-lightning-rain-fill" aria-hidden="true"></span> Default
                </a>
            </div>
        </div>
        <div class="col col-2">
            <div class="nav-item">
                <a class="nav-item px-3 @(currentOption == Option.Goldilocks ? "active" : "")" @onclick="() => SetOption(Option.Goldilocks)">
                    <span class="bi bi-cloud-sun-fill" aria-hidden="true"></span> Prefered
                </a>
            </div>
        </div>
        <div class="col col-2">
            <div class="nav-item">
                <a class="nav-item px-3 @(currentOption == Option.TwistedEdwards ? "active" : "")" @onclick="() => SetOption(Option.TwistedEdwards)">
                    <span class="bi bi-brightness-high-fill" aria-hidden="true"></span> Alternative
                </a>
            </div>
        </div>
        <div class="col col-2">
            <div class="nav-item">
                <a class="nav-item px-3 @(currentOption == Option.Social ? "active" : "")" @onclick="() => SetOption(Option.Social)">
                    <span class="bi bi-brightness-low-fill" aria-hidden="true"></span> Social
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <p>Contact information for <strong>@DisplayOption</strong>.</p>
        </div>
    </div>

@switch(currentOption)
{
    case Option.Social:
        <div class="row">
            <div class="col col-3">
                <p>All things ActivityPub are excitingly great, and so is Mastodon. No need to say, I prefer this handle.</p>
            </div>
            <div class="col col-3">
                <div class="nav-item">
                    <a class="nav-item px-3" href="https://hachyderm.io/@@SomaKurisu" rel="me">
                        <span class="bi bi-mastodon" aria-hidden="true"></span> @@SomaKurisu@hachyderm.io
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-3">
                <p>I should drop this.</p>
            </div>
            <div class="col col-3">
                <div class="nav-item">
                    <a class="nav-item px-3" href="https://twitter.com/SomaKurisu" rel="me">
                        <span class="bi bi-twitter-x" aria-hidden="true"></span> @@SomaKurisu
                    </a>
                </div>
            </div>
        </div>
        break;
    case Option.Goldilocks:
        info = @"
        sub   ed448 2024-04-01 [S] [expires: 2025-04-01]
        sub   cv448 2024-04-01 [E] [expires: 2025-04-01]
        ";
        keys = @"
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mEkFZgsC8xYAAAA/AytlcQHI3ZEph7WwRQbNtj3KnjiYzkyOkgW5uyGYUnqL8HYl
        o55Ucz7spHnYwLQVty9k4VZva2TBejoGVEWAtCBTT01BIEt1cmlzdSAoUHJpbWFy
        eSBHb2xkaWxvY2tzKYjNBRMWCgBNIiEFuuZBfXc1MAmzZUvNZC0PtKDiGgZUI1c9
        bxT1WGiTjFIFAmYLAvMCGwMFCQtHNQAFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcC
        F4AAAONaAcMHIBFjyqFmFQhG1SppNIzanmibbCtugf7RwUszovqoCuGEu70ZFc+U
        jTjUjoc2fKvZMdRievVxKwABxi6cia8oYDjLZRrUdwacHUf6ETwfjQsRWZGlt6/M
        AFdu8zH4TjowTIVkhVbOgSKhvWmLqAFYhe0RALRIU09NQSBLdXJpc3UgKFByaW1h
        cnkgR29sZGlsb2NrcyBTaWduaW5nIElkZW50aXR5KSA8MHhlMjgzNmNiNEBnbWFp
        bC5jb20+iM0FExYKAE0iIQW65kF9dzUwCbNlS81kLQ+0oOIaBlQjVz1vFPVYaJOM
        UgUCZgsQ7gIbAwUJC0c1AAULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAAJTsB
        yPJVZ5L+rRYGuuRS9/xA1l68tPEVNyt16mG52fnMTpTs42mxCtsKBMWuWYD03AcA
        sTwQIgAKM30KgAHHYDs27KzLEtdtAaaZDT1UWQ8oEFdCOnBYpMIPoR2FwbdJ8BFg
        bkE3DhOBid4sqEwM7aLeKj1cXw0AuEkFZgsDnRYAAAA/AytlcQHIt1ISjdcMyr07
        d6T/vHZL3uqKrQTgj0+tgZrQh4VlHWqQxZm07nZVGyvec9RKfORFxtZv+1/nGYOA
        iQFdBRgWCgAyIiEFuuZBfXc1MAmzZUvNZC0PtKDiGgZUI1c9bxT1WGiTjFIFAmYL
        A50CGwIFCQHhM4AAq6ogBRkWCgApIiEFawYq04lUMEdUXYmJDfampjRGJEIG482S
        vihQhGXyQ1EFAmYLA50AAP3DAcisstm0pJ72VGQSeHJNoVNLD/M3fnA9hb/5f1Cb
        7wdUunQdX1FhwCjkLoRt2CsyPN1YKveyqxyRfQAByO7CaZR5TSfHgPXAJrYgXG2/
        syCJsODIySKfX8+TeHYD9EFaRB+QjSA3bzo2lWjaLgfzM4DEyyYbAPz1AcdFEYaa
        rk3LZfCZvqXfCg6Cm5Ji6hj9gStX7vOnBv8UGjuLa8OXeqoRbG16TKKEaIxgxpbB
        auUHJAAByNhXwLsg1AE9FJMMq7NKZOT3uyOQkt0b1Ses/xdZZdPDk358zJ+3eoOf
        Eg+uJgr1mzPpW5P5P9wnALhMBWYLBCkSAAAAQgMrZW8BvR6OCl+TpLVJNAixFONW
        aP9/Rh2ZmaNQj2pKBvT5avlJdcOJ6wAkHLZM6rMp+KgQlGXbbHiQDANtAwEKCYiy
        BRgWCgAyIiEFuuZBfXc1MAmzZUvNZC0PtKDiGgZUI1c9bxT1WGiTjFIFAmYLBCkC
        GwwFCQHhM4AAAM3ZAcd55FSHA2SvNij/bOnuVmmGWlZvN+5HTIWb1PSrU+/mbezZ
        4BCNj+vuSyHuN98HLv34SOv2CIblKYABx09AjfjlpYtgervOlcP/nBrTVCXG12Uo
        s+CkQMO9B59MxPZujapjtCv0xK20LaPLSP1ZVg2x/+gVAA==
        =W8Id
        -----END PGP PUBLIC KEY BLOCK-----
        ";
        <div class="row">
            <div class="col col-12">
                <p>This is my primary key. But since most keyservers and centralized code repositories still miss Goldilocks you may consider using my Twisted Edwards keys.</p>
                <p>Keys and expiry info</p>
                <pre>
                    <code>
                        @info
                        @keys
                    </code>
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col col-2">
                <div class="nav-item">
                    <a class="nav-item px-3" href="mailto:0xe2836cb4@gmail.com?body=---fpr:BAE6417D77353009B3654BCD642D0FB4A0E21A065423573D6F14F55868938C52---">
                        <span class="bi bi-send-fill" aria-hidden="true"></span>
                        Create Mail
                    </a>
                </div>
            </div>
            <div class="col col-2">
                <div class="nav-item">
                    <a class="nav-item px-3" href="" @onclick="CopyKeys" @onclick:preventDefault>
                        <span class="bi bi-copy" aria-hidden="true"></span>
                        Copy Keys
                    </a>
                </div>
            </div>
        </div>
        break;
    case Option.TwistedEdwards:
        info = @"
        pub   ed25519 2024-04-01 [SC] [expires: 2025-04-01]
        ";
        keys = @"
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mDMEZgsSWRYJKwYBBAHaRw8BAQdA4D3Im4jmMo3iJr4y1sJz8CMs+uDdhrgE1IOG
        HeoBBLa0XlNPTUEgS3VyaXN1IC0gb2N0b2NhdCAob2N0b2NhdCBjb21taXQgc2ln
        bmluZyBzdGlsbCBtaXNzZXMgZ29sZGlsb2NrcyEpIDwweGUyODM2Y2I0QGdtYWls
        LmNvbT6ImQQTFgoAQRYhBISab48xkbEySvVED3xiKvGbKDQIBQJmCxJZAhsDBQkB
        4TOABQsJCAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEHxiKvGbKDQI8v0A/2Ko
        DsoX/3JrUkAFimJQ9WfuzTYmawPSFsqndkVWShNEAP0doQCai/thyBY618j/L+Ng
        0CFAj4Bd5bbgqq1pS0VLDIipBRAWCgApIiEFuuZBfXc1MAmzZUvNZC0PtKDiGgZU
        I1c9bxT1WGiTjFIFAmYLIQUAAOcyAcdlA6MqsZm0QI1z00uRkse5FCxOjiJF2zKb
        aax0t2yada7X3QJcnVrW0/OmRagiPbsocuhwQT0cywABxRjVOplimIHJZiLSKi4a
        Axhyx1/RDaH02O6r2HfifmIJj3VzSyjnzMO/RJE7OCq5j0lSVKEje1UhALg4BGYL
        ElkSCisGAQQBl1UBBQEBB0AiUq0guN9IXdX6PGawHDRC7ArJu17lWi9/9d27KvKd
        VAMBCAeIfgQYFgoAJhYhBISab48xkbEySvVED3xiKvGbKDQIBQJmCxJZAhsMBQkB
        4TOAAAoJEHxiKvGbKDQI3fwBAJP9MJvUcB2BbKLoOvE+SwCWI06pB9uUOGcgaNqS
        dhlXAQCf67EResDImhUCAYiCjK3KZunO5LU7llfWKV7yr0c5AQ==
        =h3c4
        -----END PGP PUBLIC KEY BLOCK-----
        ";
        <div class="row">
            <div class="col col-12">
                <p>Most keyservers and centralized code repositories still miss Goldilocks. So this one is still frequently used but rotates more often than my primary keys.</p>
                <p class="nav-item">
                    Keys and expiry info you can verify on <a class="nav-item px-3" href="https://keys.openpgp.org/vks/v1/by-fingerprint/849A6F8F3191B1324AF5440F7C622AF19B283408">keys.openpgp.org</a>.
                </p>
                <pre>
                    <code>
                        @info
                        @keys
                    </code>
                </pre>
            </div>
        </div>
        <div class="row">
            <div class="col col-2">
                <div class="nav-item">
                    <a class="nav-item px-3" href="mailto:0xe2836cb4@gmail.com?body=---fpr:849A6F8F3191B1324AF5440F7C622AF19B283408---">
                        <span class="bi bi-send-fill" aria-hidden="true"></span>
                        Create Mail
                    </a>
                </div>
            </div>
            <div class="col col-2">
                <div class="nav-item">
                    <a class="nav-item px-3" href="" @onclick="CopyKeys" @onclick:preventDefault>
                        <span class="bi bi-copy" aria-hidden="true"></span>
                        Copy Keys
                    </a>
                </div>
            </div>
        </div>
        break;
    default:
    case Option.None:
        <div class="row">
            <div class="col col-12">
                <h2>Contact me without any privacy</h2>
            </div>
        </div>
    
        <div class="row">
            <div class="col col-2">
                <div class="nav-item px-3">
                    <a class="nav-item" href="mailto:0xe2836cb4@gmail.com">
                        <span class="bi bi-send-fill" aria-hidden="true"></span>
                        Create Mail
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <p>but consider securing your code with GnuPG keys</p>
                <p>
                    As developers, safeguarding our code and communications is paramount. Enter GnuPG (GNU Privacy Guard) keys—a powerful tool for privacy and authenticity.
                    Why GnuPG?

                    <ul>
                        <li><strong>Encryption</strong>: Encrypt sensitive data—whether it’s configuration files, API keys, or user credentials. With GnuPG, only authorized parties can decipher the content.</li>
                        <li><strong>Digital Signatures</strong>: Sign your commits, tags, and releases. A signed commit ensures that it originated from you, preventing tampering or unauthorized changes.</li>
                    </ul>

                    <h1>Goldilocks vs. Twisted Edwards</h1>
                    <ul>
                        <li><strong>Goldilocks</strong>: A curve with robust security properties. Unfortunately, it’s not universally supported across all channels, devices, and tools. Use it wisely.</li>
                        <li><strong>Twisted Edwards</strong>: A pragmatic alternative. It enjoys broader compatibility and many platforms already embrace it.</li>
                    </ul>

                    <h2>Remember: Privacy is not a fairy tale - it’s a developer’s responsibility</h2>

                    While there are numerous alternatives to GnuPG and libgcrypt, and I even advocate for SOPS in Kubernetes deployments, conservative communication between entities remains common.

                    For this reason, you have several options:

                    <ul>
                        <li>
                            <strong>Plaintext Email</strong>: If simplicity and familiarity are your priorities, feel free to email me plaintext.
                        </li>

                        <li>
                            <strong>Twisted Edwards Key</strong>: Opt for my shorter-lived, frequently rotated Twisted Edwards key. It’s a pragmatic choice with broader compatibility.
                        </li>

                        <li>
                            <strong>Primary Goldilocks Key</strong>: For robust security, choose my primary Goldilocks key. It offers excellent protection but may not be universally supported.
                        </li>
                    </ul>

                    The choice is yours. Select the key that aligns best with your needs and communication channels.
                </p>
            </div>
        </div>
        break;
}
</div>

@code {
    private enum Option { None, Goldilocks, TwistedEdwards, Social }
    private Option currentOption = Option.Social;
    private string DisplayOption => currentOption switch {
        Option.Social => "social media handles",
        Option.Goldilocks => "my spinal tap-grade security keys",
        Option.TwistedEdwards => "my all-day, all-purpose keys",
        _ => "unencrypted plain text e-mail",
    };
    private bool renderAnimation = true;
    
    private void SetOption(Option selectedOption) => currentOption = selectedOption;

    private string info = string.Empty;
    private string keys = string.Empty;

    async Task CopyKeys()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", keys);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(600);
            renderAnimation = false;
            StateHasChanged();
        }
    }
}